<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

<title> {% block title %} Интернет-магазин {% endblock %} </title>

</head>

<body>

<nav class="navbar navbar-expand-xl navbar-light bg-light">
   <div class="container-fluid">
      <a class="navbar-brand" href="#">НАВИГАЦИЯ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo2" aria-controls="navbarTogglerDemo2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo2">
        <ul class="navbar-nav me-auto mb-2 mb-xl-0">
           <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Главная</a>
           </li>
           <li class="nav-item">
              <a class="nav-link" href="/clothes/">Одежда</a>
           </li>
            <li class="nav-item">
              <a class="nav-link" href="/shoes/">Обувь</a>
           </li>
            <li class="nav-item">
              <a class="nav-link" href="/accessories/">Аксессуары</a>
           </li>
        </ul>

      </div>
   </div>
</nav>




<div class="container">
    {% block content %}

    <img src="http://cdn3.vectorstock.com/i/1000x1000/00/12/hanger-with-fashion-women-summer-clothing-vector-4520012.jpg" class="img-fluid" alt="main_page">

    <p><h1>Это главная страница магазина</h1></p>

    {% endblock %}
</div>





<nav class="navbar fixed-bottom navbar-light bg-light">
   <div class="container-fluid">
      <hr>
      <p>Все права защищены &copy;</p>
   </div>
</nav>


</body>
</html>